
<div class="content-info" (window:resize)="onResize($event)" [ngClass]="{'width-content': screenWidth>=946}">
    <div class="content-info-txt">
      <div class="text-center my-name mb-3">
        ANASS BOUROUTI
      </div>
      <div class="txt-job">
        Full Stack Developer
       </div>
       <p class="description">
        I am a full stack developer. I have experience in web project development, particularly in the design of websites. I appreciate teamwork with colleagues on-site or remotely, and I am eager to take on new challenges.
       </p>
       <div class="text-center">

        <!-- <button class="m-3 btn-info-contact">Contact Me</button> -->
        <a class="m-3 btn-info-download" href="assets/pdfs/AnassBourouti.pdf" download="AnassBourouti.pdf">Download Cv</a>
      </div>

      <div>
        <a class="mx-2 icon-social" href="http://linkedin.com/in/anass-bourouti-220b18292" target="_blank"><i class="bi bi-linkedin "></i></a>
        <a href="https://wa.me/212642328998" class="mx-2 icon-social" target="_blank"><i class="bi bi-whatsapp"></i></a>       
        <a href="https://www.facebook.com/100005985049311" target="_blank" class="mx-2 icon-social"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/anass.brt/" class="mx-2 icon-social" target="_blank"><i class="bi bi-instagram"></i></a>
      </div>

      </div>

    <div class="content-info-img">

      <img class="img-code" src="assets/images/anass-icon-transparant.png">
  
    </div>
  </div>