


<div (window:resize)="onResize($event)">
    <div class="pb-5 content-slider">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    
        <div class="carousel-inner" *ngIf="screenWidth>=946">
          <div *ngFor="let item of dataWeb;let i = index">
    
            <div class="carousel-item"   [ngClass]="{'active': i == 0}">
    
              <div class="d-flex justify-content-around align-items-center">
    
                <div class=" card-skills" *ngFor="let itm of item;let j = index">
                  <img src="{{itm.img}}" width="150px">
                  <div class="text-center language-name">{{itm.langName}} </div>
                  <!-- <div class="my-2">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 25%;" [style]="'width:'+itm.pourcentage"  aria-valuemin="0" aria-valuemax="100">{{itm.pourcentage}}</div>
                  
                    </div>
                  </div> -->
                  <div class="text-center exp-rank">{{itm.rank}}</div>
                </div>
      
              </div>
    
            </div>
    
          </div>
    
        </div>
    
    
        <div class="carousel-inner" *ngIf="screenWidth<946">
          <div class="" *ngFor="let item of dataMobile;let i = index">
    
            <div class="carousel-item "   [ngClass]="{'active': i == 0}">
    
    
                <div class="card-skills">
                  <div class="text-center">
                    <img src="{{item.img}}" width="100px">
                  </div>
                  
                  <div class="text-center language-name">{{item.langName}} </div>
                  <!-- <div class="my-2">
    
                    <div class="progress">
    
                      <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 25%;" [style]="'width:'+item.pourcentage"  aria-valuemin="0" aria-valuemax="100">
                        {{item.pourcentage}}
                      </div>
                
                    </div>
                  </div> -->
    
                  <div class="text-center exp-rank">{{item.rank}}</div>
    
                </div>
      
           
    
            </div>
    
          </div>
    
        </div>
    
    
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
         <span><i class="bi bi-chevron-left icon-slider"></i></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span><i class="bi bi-chevron-right icon-slider"></i></span>
        </button>
      </div>
    </div>
    
    
    </div>
